.banner-home {
    position: absolute;

    .banner-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: blanchedalmond;
    font-size: 3rem;
    }
}