.search-container {
    width: 25rem;
    height: 2rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
        input {
            outline: none;
            border: 0;
            flex: 1 0 auto;
        }
        

    .icons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        flex-basis: 15%;
        .search-icon {
            width: 15px;
        }
        .border-line {
            border-left: 1px solid #0000004a;
            height: 1rem;
            margin: 0 0.2rem;
        }
        .star-icon {
            width: 15px;
        }
    }
}