.banner-home {
    .banner-title {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    color: blanchedalmond;
    font-size: 3rem;
    }
}
.home-container {
    
    .title {
        margin: 3em;
    }
}

.cards-home {
    display: flex;
    justify-content: center;
    text-align: center;
}